In [3]:
x=int(input("enter the 1st value"))
y=int(input("enter the 2nd value"))
if x>y: print("1st is greater")

enter the 1st value50
enter the 2nd value40
1st is greater

In [8]:
x=int(input("enter the 1st value"))
y=int(input("enter the 2nd value"))
print('1st is greater') if x>y else print('equal') if  x==y else print("2nd is greater")

enter the 1st value50
enter the 2nd value60
2nd is greater

In [11]:
a = 33
b = 20

if b > a:
  pass
else:
    print("a>b")

a>b

In [17]:
for val in "string":
    if val =="i":
        continue
    print(val)

s
t
r
n
g

In [20]:
for val in "string":
    if val =="i":
        break
    print(val)

s
t
r

In [54]:
x=["apple", 'true', 'mango']
b=[]
for i in x:
    if 'a' in i:
        b.append(i)
print(b)

['apple', 'mango']

In [50]:
for i in range(4,20,2):
    print(i,end=' ')

4 6 8 10 12 14 16 18

In [27]:
x=int(input("enter the natural no."))
t=0
for i in range(x+1):
    t=t+i
print(t)

enter the natural no.10
55

In [46]:
a=[]
for i in range(3):
    print("enter all types of data")
    b=input("enter")
    a.append(b)
print(a)
a.sort()
print(a)

enter all types of data
entersarthak'
enter all types of data
enter10
enter all types of data
enterTrue
["sarthak'", '10', 'True']
['10', 'True', "sarthak'"]

In [61]:
x=["apple", 'true', 'mango']
b=[i for i in x if 'a' in i]
print(b)

['apple', 'mango']

In [67]:
a=[4,5,6,7]
b=[i for i in a if i>5]
print(b)

[6, 7]

In [65]:
b=[i for i in range(20) if i>5]
print(b)

[6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [73]:
x = ("apple", "banana", "cherry")
y = list(x)
y[1] = "kiwi"
x = tuple(y)
a=('1','2','3')
c=x+a
print(c)

('apple', 'kiwi', 'cherry', '1', '2', '3')