In [1]:
a={'sarthak','rahool','mehrotra',}
print(a)
print(len(a))

{'mehrotra', 'rahool', 'sarthak'}
3

In [6]:
a=('sarthak','mehrotra','rahool')
b=set(a)
print(b)
for i in b:
    print(i)
print('rahool' in b)

{'mehrotra', 'rahool', 'sarthak'}
mehrotra
rahool
sarthak
True

In [34]:

x={10,20,30}
x.add(40)
print(x)
a=(10,20,30,40,50)
b=[60,40,30,70]
x.update(a,b)
print(x)
x.remove(70)
print(x)

{40, 10, 20, 30}
{70, 40, 10, 50, 20, 60, 30}
{40, 10, 50, 20, 60, 30}

In [35]:
x.remove(60)
print(x)
y=x.pop()
print(x)
print(y)

{40, 10, 50, 20, 30}
{10, 50, 20, 30}
40

In [36]:
set1 = {"a", "b" ,"c"}
set2 = {1, 2, 3}

set3 = set1.union(set2)
print(set3)

{'b', 1, 2, 3, 'c', 'a'}

In [38]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z = x.intersection(y)
x.intersection_update(y)
print(z)
print(x)

{'apple'}
{'apple'}

In [39]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

x.symmetric_difference_update(y)

print(x)

{'google', 'banana', 'microsoft', 'cherry'}

In [40]:
x = {"apple", "banana", "cherry"}
y = {"google", "microsoft", "apple"}

z=x.symmetric_difference(y)

print(z)

{'google', 'banana', 'microsoft', 'cherry'}

In [47]:
y = {"brand": "Ford","model": "Mustang","year": 1964}
x = y["model"]
print(x)
print(y.keys())

Mustang
dict_keys(['brand', 'model', 'year'])

In [52]:
car = {"brand": "Ford","model": "Mustang","year": 1964}

x = car.keys()

print(x)

car["color"] = "white"

print(x)
print(car.values())
print(car.items())
car["year"]=2020
print(car.values())
print(car.items())

dict_keys(['brand', 'model', 'year'])
dict_keys(['brand', 'model', 'year', 'color'])
dict_values(['Ford', 'Mustang', 1964, 'white'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 1964), ('color', 'white')])
dict_values(['Ford', 'Mustang', 2020, 'white'])
dict_items([('brand', 'Ford'), ('model', 'Mustang'), ('year', 2020), ('color', 'white')])

In [55]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x=car.pop('year')
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [57]:
car = {"brand": "Ford","model": "Mustang","year": 1964}
x=car.popitem()
print(car)

{'brand': 'Ford', 'model': 'Mustang'}

In [58]:
x={'sarthak': "21","rahool": "20"}
y={'mehrotra': "21","shivdarshi": "20"}
z={'satya': "21","brata": "20"}
group={"x":x,"y":y,"z":z}
print(group)

{'x': {'sarthak': '21', 'rahool': '20'}, 'y': {'mehrotra': '21', 'shivdarshi': '20'}, 'z': {'satya': '21', 'brata': '20'}}

In [61]:
group={"x":{'sarthak': "21","rahool": "20"},
"y":{'mehrotra': "21","shivdarshi": "20"},
"z":{'satya': "21","brata": "20"}}
print(group)

{'x': {'sarthak': '21', 'rahool': '20'}, 'y': {'mehrotra': '21', 'shivdarshi': '20'}, 'z': {'satya': '21', 'brata': '20'}}

In [64]:
x={'name':{0},"address":{1},"state":{2}}.format("sarthak","aliganj","UP")

AttributeError: 'dict' object has no attribute 'format'

In [90]:
d = {"name":"sarthak", "address":"aliganj", "state":"uttar pradesh"}
print("Name:{} Address:{} State:{}".format(d["name"], d["address"], d["state"]))

Name:sarthak Address:aliganj State:uttar pradesh

In [79]:
 FruitDict = {'Apple': 10, 'banana': 5,'orange':4,'Guava':6} 
y=1
for i in FruitDict.values():
    y=y*i
    print(y)

10
50
200
1200

In [71]:
x
x={'sarthak': "21","rahool": "20"}
if

In [83]:
d={}
for i in range(0,3):
    x=input("key: ")
    y=input("value: ")
    d[x]=y
print(d)
t=input("enter key")
for i in d:
    if i==t:
        print('true')

key: name
value: srthka
key: name
value: rahool
key: name
value: asrtsy
{'name': 'asrtsy'}
enter keyname
true

['100', '20', '300']
['100', '20', '300']

In [89]:
y=[('Eng', 88), ('Sci', 90), ('Maths', 97), ('Sst', 82)]
y.sort(key=lambda x:x[1])
print(y)

[('Sst', 82), ('Eng', 88), ('Sci', 90), ('Maths', 97)]

In [94]:
def fun(a,b):
    if(a==1):
        return("if")
    elif(b==1):
        return('elif')
    else:
        return('sorry')
x=fun(2,3)
print(x)

sorry

In [98]:
def sar(name="sarthak",age=21,branch="cse"):
    print(name)
    print(age)
    print(branch)
sar()
sar('rahool',20,'electrical')

sarthak
21
cse
rahool
20
electrical

In [128]:
#Take a Dictionary as given in input.Find the average of phy subject from the dict using function 
#Input:- dict={1:{'name':'Ram','Mark':{'phy':56,'chem':78}},2:{'name':'Hari','Mark':{'phy':76,'chem':88}}} 
def fun(b):
    a=0
    for i in b.values():
        a=a+i["Mark"]["phy"]
    print(a/2)
x={1:{'name':'Ram','Mark':{'phy':56,'chem':78}},2:{'name':'Hari','Mark':{'phy':76,'chem':88}}}
fun(x)

66.0